<div class="container">
  <div class="container mt-2 mb-2">
    <div class="row justify-content-center">
      <div class="col-auto section-title">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="container mt-1 mb-5">
    <div class="row justify-content-center">
      <h4>Blank Layout</h4>
      <p>This is a blank layout. You can use this layout to create your own custom layout.</p>
      {{!-- Add your custom content here. --}}
    </div>
  </div>
</div>