<div class="container">
  <div class="container mt-2 mb-2">
    <div class="row justify-content-center">
      <div class="col-auto section-title">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="container mt-1 mb-5">
    <div class="row justify-content-center">
      <form id="saveForm" autocomplete="off">
        <div class="mb-3">
          <label class="form-label">Hostname</label>
          <input type="text" class="form-control" id="hostnameSave" name="hostname" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" id="usernameSave" name="username" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordSave" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div id="savedCreds">{{> savedCreds}}</div>
  </div>
</div>